<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2017 Wine Attributes</title>
    <script src='https://d3js.org/d3.v4.min.js'></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
      <div class="col-md-12 jumbotron text-center" id='myBox'>
      <div class='specialText'>
          <h1>Wine Recommendations:</h1>
          <p>Expand your palate. Explore by selecting a wine attribute.</p>
          <p>Or explore our <a href="word_cloud">Attribute Word Cloud.</a></p>
      </div>
      </div>
    </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <select id="selDataset" onchange="optionChanged(this.value)"></select> -->
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">Wine Recommendations</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body"></div>
                  </div>
                </div>
    <script type="text/javascript" src="../static/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
<!-- <a href="word_cloud.html">Word Cloud Visualization</a> -->
</body>
</html>
